<div class="container">
    <h2>Add To Do</h2>
    <mat-card>
        <form [formGroup]="form" (ngSubmit)="form.valid && addToDo()">
            <mat-form-field appearance="outline">
                <input formControlName="title" matInput type="text" name="title" id="title" placeholder="Title">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <input formControlName="description" matInput type="text" name="description" id="description" placeholder="Description">
            </mat-form-field>
            <button type="submit" mat-raised-button color="primary">Add To Do</button>
        </form>
    </mat-card>
</div>
